@model OdeToFood.ViewModels.HomeIndexViewModel
@*model diretive to tell razor engine to intelSense the model for the restaurant.*@

@{
    ViewBag.Title = "Home Page";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All restaurants</h1>

@foreach (var res in Model.Restaurants)
{
    @await Html.PartialAsync("_Summary", res);
}

<div><a class="btn btn-primary" asp-action="Create">Add Restaurants</a></div>

