@model OdeToFood.ViewModels.HomeIndexViewModel
@*model diretive to tell razor engine to intelSense the model for the restaurant.*@

@{
    ViewBag.Title = "Home Page";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All restaurants</h1>

@foreach (var Restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary",Restaurant);
}


<div><a asp-action="Create">Add Restaurants</a></div>
 <div>  
@section footer 
{
    @Model.CurrentMessage;
}
</div>